body {
      font-family: monospace;
      background: #111;
      color: rgb(255, 255, 255);
      padding: 20px;
    }
    input, button {
      padding: 8px;
      font-family: monospace;
      margin: 5px;
    }
    #terminal {
      margin-top: 15px;
      background: #000;
      padding: 15px;
      border-radius: 5px;
      white-space: pre-line;
    }